@page "/rank-album/{id:int}"
@inject IAlbumsService AlbumService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>Rank Album @album.AlbumName</h3>

<EditForm Model="album" OnSubmit="HandleSubmit" FormName="editAlbum">
    <label>Ranking (integers only)</label>
    <InputText @bind-Value="ranking_string">Submit</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
@code {
    [Parameter]
    public int? Id { get; set; }
    [SupplyParameterFromForm]
    Album album { get; set; } = new Album { AlbumName = string.Empty, PictureHyperlink = string.Empty, Ranking = 0, NumRanking = 0};
    int ranking = 0;
    string ranking_string = "";
    int previous_ranking = 0;

    async Task HandleSubmit()
    {
        album = await AlbumService.GetAlbum((int)Id);
        try
        {
            ranking = Int32.Parse(ranking_string);
        }
        catch (FormatException e)
        {
            Console.WriteLine(e.Message);
        };

        previous_ranking = album.Ranking + ranking;
        album.NumRanking++;
        album.Ranking = previous_ranking;
        await AlbumService.EditAlbum(album);
        NavigationManager.NavigateTo("/albums");
    }
}
