@page "/albums"
@inject IAlbumsService AlbumsService
@inject NavigationManager NavigationManager
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<h3>Album List</h3>

@if(albums == null)
{
    <span>Loading...</span>
}
else if (albums.Count == 0)
{
    <span>No albums found.</span>
    <div></div>
}
else
{
        @foreach(var album in albums)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@album.PictureHyperlink"alt="@album.AlbumName">
                <div class="card-body">
                    <h5 class="card-title">@album.AlbumName</h5>
                    <p class="card-text">OVERALL RANKING DISPLAYED HERE</p>

                </div>
            </div>
        }       
}

<button @onclick="AddNewAlbum" class="btn btn-primary">Add New Album</button>

@code {
    List<Album>? albums = new List<Album>();

    protected override async Task OnInitializedAsync()
    {   
        albums = await  AlbumsService.GetAllAlbums();
    }

    void AddNewAlbum()
    {
        NavigationManager.NavigateTo("/edit-album");
    }
}
