@page "/edit-user"
@page "/edit-user/{id:int}"
@inject IUsersService UserService

@if(Id == null)
{
    <h3>Add User</h3>
}
else
{
    <h3>Edit @user.Username</h3>
}


<EditForm Model="user" OnSubmit="HandleSubmit" FormName="editUser">
    <label>Username</label>
    <InputText @bind-Value="user.Username">@user.Username</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
@code {
    [Parameter]
    public int? Id { get; set; }
    [SupplyParameterFromForm]
    User user { get; set; } = new User { Username = string.Empty, RolePermission = 1 };

    protected override async Task OnParametersSetAsync()
    {
        user = await UserService.GetUserById((int)Id);
    }

    async Task HandleSubmit()
    {
        await UserService.AddUser(user);
    }
}
