@page "/users"
@inject IUsersService UsersService
@attribute [StreamRendering(true)]

<h3>UserList</h3>

@if(users == null)
{
    <span>Loading...</span>
}
else if (users.Count == 0)
{
    <span>No users found.</span>
}
else
{
    <ul>
        @foreach(var user in users)
        {
            <li>@user.Username <EditUserButton Id= "user.Id"/></li>
        }
    </ul>
    <div>Number of users is: @user_count</div>
}

<CreateUserButton />

@code {
    List<User>? users = new List<User>();
    int user_count = 0;
    protected override async Task OnInitializedAsync()
    {   
        users = await  UsersService.GetAllUsers();
        user_count = await UsersService.GetUsersCount();
    }
}
