@page "/edit-user"
@page "/edit-user/{id:int}"
@inject IUsersService UserService
@inject IPermissionsService PermissionsService
@inject IRolePermissionsService RolePermissionService
@inject IRolesService RoleService
@inject IUserRolesService UserRolesService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@if(Id == null)
{
    <h3>Add User</h3>
}
else
{
    <h3>Edit @user.Username</h3>
}


<EditForm Model="@user" OnSubmit="HandleSubmit" FormName="editUser">
    <InputText @bind-Value="@user!.Username"/>
    <div></div>
    @if (Id != null)
    {
        <button Id="user.Id" @onclick="EditRoles" type="button" class="btn btn-primary">Edit Roles</button>
    }
    @if(Id != null)
    {
        <DeleteUserButton Id="user.Id" />
    }
    <button type="submit" class="btn btn-primary">Done</button>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }
    [SupplyParameterFromForm]
    User user { get; set; } = new User { Username = string.Empty};

    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            user = await UserService.GetUserById((int)Id);
        }
    }

    async Task HandleSubmit()
    {
        if(Id == null)
        {
            await UserService.AddUser(user);
        }
        else
        {
            await UserService.UpdateUser(user);
        }
    }

    void EditRoles()
    {
        NavigationManager.NavigateTo("/edit-roles/"+(user.Id.ToString()));
    }
}
